@charset "utf-8";
/* CSS Document */
body,ul,a,li,img,dt,dl,dd,h1,h2,h3,h4,h5,h6,h7,input,p,form{margin:0px;padding:0px;}
input{font-family:"Arial","微软雅黑";}
body, html{ height:100%;}
body{font-family:"Arial","微软雅黑"; line-height:1.5; color:#878787; font-size:12px; background:#f4f4f4;}
img{vertical-align:top;max-width:100%;}
ul{list-style:none;}
a{ text-decoration:none; color:#323232; outline:none;-webkit-tap-highlight-color:transparent;}
a:hover{ color:#ff6b13;}
.centerbody{ padding:45px 0 0 0;}
.red-txt{ color:#fa2731;}
.weui_navbar + .weui_tab_bd{ padding-bottom:56px;}
input:focus{outline: none; }
/*底部menu*/
.bottom-menu:before{border-top:1px solid #e0e0e0; }
.bottom-menu{z-index:9; padding:0.6rem 0 0.2rem 0; background:#FFF; font-size:0.7rem;overflow:hidden;}
/*.bottom-menu ul{ width:100%; display: -webkit-flex; !* 新版本语法: Chrome 21+ *!
    display: flex; !* 新版本语法: Opera 12.1, Firefox 22+ *!
    display: -webkit-box; !* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. *!
    display: -moz-box; !* 老版本语法: Firefox (buggy) *!
    display: -ms-flexbox; !* 混合版本语法: IE 10 *!   }
.bottom-menu ul li{ float:left; text-align:center;-webkit-flex: 1;   !* Chrome *!
    -ms-flex:1 ;      !* IE 10 *!
    flex: 1;         !* NEW, Spec - Opera 12.1, Firefox 20+ *!
    -webkit-box-flex: 1; !* OLD - iOS 6-, Safari 3.1-6 *!
    -moz-box-flex: 1;    !* OLD - Firefox 19- *!     }*/
.bottom-menu ul{width: 100%;}
.bottom-menu ul li{float:left;  width:20%; text-align:center;}
.bottom-menu ul li a.now,.bottom-menu ul li a.now span{ color:#ff6b13;}
.bottom-menu ul li span.titleico{ position:relative; font-size:1rem; padding:0 0 0.2rem 0;}
.bottom-menu ul li span.titleico em{ background:#ff0000;border-radius:14px; position:absolute; top:-4px; right:-9px; display:block; width:14px; height:14px; line-height:14px; text-align:center; font-size:0.5rem; font-style:inherit; color:#FFF; }
/*首页搜索*/
.frame{ top:0; left:0; right:0; z-index:9; padding:8px 50px 8px 10px;}
.frame form{background:url(../images/Search2.png) 10px 51% no-repeat; background-color:rgba(255,255,255,0.5);background-size:30px auto;border-radius: 15px;height:24px;overflow: hidden;padding: 6px 0 0 50px;}
.frame .hd_search_txt { background:none; border:none; display: block;height: 20px;line-height: 20px; width: 100%; color:#fff; font-size:0.7rem;}
.frame .hd_me{ position:absolute; top:8px; right:10px;}
.frame .hd_me a {color: #fff;display: block;  height: 30px; width:30px; background:url(../images/informationico2.png) no-repeat;background-size:100% 100%;}
.frame .hd_me span{ background:#ff0000;border-radius:5px; position:absolute; top:0; right:-3px; display:block; width:5px; height:5px; }
.header .frameScroll{ background:#FFF; border-bottom:1px solid #e0e0e0; position:fixed; top:0; left:0; right:0; z-index:9; padding:8px 50px 8px 10px;}
.header .frameScroll form{ position:relative; background:#ededed url(../images/Search.png) 10px 51% no-repeat;background-size:30px auto;border-radius: 15px;height:24px;overflow: hidden;padding: 6px 0 0 50px;}
.header .frameScroll .hd_search_txt {border:none; display: block;height: 20px;line-height: 20px; width: 100%; color:#a2a1a1; font-size:0.7rem;}
.header .frameScroll .hd_search_txt:focus{ color:#323232;}
.header .frameScroll .hd_me{ position:absolute; top:8px; right:10px;}
.header .frameScroll .hd_me a {color: #fff;display: block;  height: 30px; width:30px; background:url(../images/informationico.png) no-repeat;background-size:100% 100%;}
.header .frameScroll .hd_me span{ background:#ff0000;border-radius:5px; position:absolute; top:0; right:-3px; display:block; width:5px; height:5px; }
/*搜索页*/
.he-search{ background:#f4f4f4; padding:0 0 5px 0; height:50px; overflow:hidden;}
.he-search .hd_search_clear{ background:#ededed;border-radius:0 15px 15px 0; position:absolute; top:0; right:0; font-size:0.8rem; height:30px; line-height:30px; padding:0 10px 0 5px; color:#c1bfbf; }
.he-search .hd_search_clear:active{ color:#323232;}
.he-search .hd_button{ position:absolute; top:8px; right:5px;}
.he-search .hd_button a.hd_search_btn_blue{ background:#ff6b13; border-radius: 3px; color: #fff;display: block; font-size:0.7rem; height: 30px;line-height: 30px; padding: 0 5px;}
.he-search .frameScroll{ background:#FFF; border-bottom:none; position:fixed; top:0; left:0; right:0; z-index:9; padding:8px 50px 8px 10px;}
.he-search .frameScroll form{ position:relative; background:#ededed url(../images/Search.png) 10px 51% no-repeat;background-size:30px auto;border-radius: 15px;height:24px;overflow: hidden;padding: 6px 0 0 50px;}
.he-search .frameScroll .hd_search_txt {border:none; display: block;height: 20px;line-height: 20px; width: 100%; color:#a2a1a1; font-size:0.7rem;}
.he-search .frameScroll .hd_search_txt:focus{ color:#323232;}
.he-search .frameScroll .hd_me{ position:absolute; top:8px; right:10px;}
.he-search .frameScroll .hd_me a {color: #fff;display: block;  height: 30px; width:30px; background:url(../images/informationico.png) no-repeat;background-size:100% 100%;}
.he-search .frameScroll .hd_me span{ background:#ff0000;border-radius:5px; position:absolute; top:0; right:-3px; display:block; width:5px; height:5px; }
.weui_tab_bd.searchbody{ padding:55px 10px 0 10px; background:#FFF;}
.searchbody .search_text{ color:#323232; font-size:0.7rem; padding:12px 0 6px 0;}
.searchbody .search_panel_con{ font-size:0.6rem; overflow:hidden;}
.searchbody .search_panel_con ul li.keyword{ float:left; margin:0 10px 10px 0; height:30px; line-height:30px;}
.searchbody .search_panel_con ul li.keyword a{ display:block; border-radius: 3px; background:#f5f5f5; padding:0 10px;}
.searchbody .search_panel_con ul li.keyword a:hover,.searchbody .search_panel_con ul li.keyword a:active{ background:#ff6b13; color:#fff;}
.searchbody .search_del{ font-size:0.7rem; padding:20px 0; text-align:center;}
.searchbody .search_del a{ display:inline-block; border:1px solid #323232; border-radius: 3px; padding:8px 15px 6px;}
.searchbody .search_del a:active,.searchbody .search_del a:hover{ background:#ff6b13; border:1px solid #ff6b13; color:#FFF;}
.searchbody .search_del span{ display:inline-block; float:left; padding:0 6px 0 0 ; font-size:1rem;}
.search-no{ text-align:center; padding:60px 0 0 0;}
.search-no dl dt{ font-size:3.2rem; color:#d7d7d7;}
.search-no dl dd{ font-size:0.9rem; color:#a2a1a1; padding:15px 0 0 0;}
/*会员登陆 注册 找回密码*/
.member{ padding:10px 15px;}
.member-logo{ padding:1rem 3.7rem;}
.member-table{border-radius:4px; border:1px solid #bfbfbf; background:#FFF; margin:0 0 10px 0;}
.member-table dl.line{ border-bottom:1px solid #ccc;}
.member-table dl{position:relative;padding:0 10px 0 0;}
.member-table.login dl{padding-left:1.4rem;}
.member-table dl dt{ position:absolute; left:0.4rem; top:0.6rem; font-size:0.76rem; padding:1px 0 0 0;}
.member-table dl dt span{ display:inline-block; font-size:1rem; olor:#878686;}
.member-table dl dd{ position:relative; padding:0.6rem 0 0.6rem 0.5rem; overflow:hidden;}
.member-table dl dd a.login-password{ display:block; border:1px solid #bababa;border-radius:4px; position:absolute; top:0.6rem; right:0; width:3.9rem; line-height:1.2rem; text-align:center; font-size:0.7rem; color:#959595;}
.member-table dl dd a.login-password:hover,.member-table dl dd a.login-password:active{ background:#ff6b13; border:1px solid #ff6b13; color:#FFF;}
.Memberin{ border:none; width:100%;color:#b5b5b7; font-size:0.76rem; line-height:1.2rem;}
.Memberin:focus{ color:#323232;}
.member .findPwd-text{ padding:10px 0 0 0; font-size:0.7rem;}
.member .findPwd-text a{ color:#959595;}
.member .findPwd-text a:hover,.member .findPwd-text a:active{ color:#ff6b13;}
.member .findPwd-text .dmc-btnan{ float:right;}
.membertxt{ color:#323232; padding:10px 0; font-size:0.7rem;}
.member-table.member-info dl{padding-left:3.6rem;}
.member-table.member-info dl dd span.getimgcode{ display:block; background:#a5a4a4; border-radius:4px; position:absolute; top:0.6rem; right:0;line-height:1.2rem; text-align:center; font-size:0.6rem; color:#959595; padding:0 5px; color:#FFF;}
.red-txt{ text-align:right; padding:10px 0 0 0; font-size:0.7rem;color:#959595;line-height:1.2rem; overflow:hidden;}
.red-txt a{ display:inline-block; border:1px solid #ec6822;border-radius:4px; color:#ff6b13; padding:0 0.5rem; margin:0 0 0 5px;}
.red-txt a:hover,.red-txt a:active{ background:#ff6b13; border:1px solid #ff6b13; color:#FFF;}
.member-table.member-reg dl{padding-left:4.6rem;}
.member-regtxt{ font-size:0.7rem; padding:0 0 12px 0;}
.member-regtxt a{ color:#ff6b13;}
/*会员注册*/
.dmc-btn a{ display:block; border-radius:4px; font-size: 0.86rem;height: 2.2rem;line-height: 2.2rem; text-align:center; color:#FFF;}
.dmc-btn a.dmc-btn-dark{ background:#a5a4a4;}
.dmc-btn a.dmc-btn-positive{ background:#ff6b13;}
/*商品列表*/
.result-sort:before{ border-bottom:none; height:50px; overflow:hidden;}
.result-sort{ background:#FFF; font-size:0.7rem; overflow:hidden;}
.result-sort ul{ width:100%;}
.result-sort ul li{ border-bottom:1px solid #e0e0e0; position:relative; float:left; width:33.333%; text-align:center;height: 49px; line-height:48px;}
.result-sort ul li a{ display:block; height:48px; line-height:48px;}
.result-sort ul li .bar{ position:absolute; left:0; top:0; background: #e0e0e0; height: 24px;left: 0;position: absolute;top:13px; width: 1px;}
.result-sort ul li.now{ border-bottom:1px solid #ff6b13;}
.result-sort ul li.now a{ color:#ff6b13;  border-bottom:1px solid #ff6b13;}
.pro-list{ background:#FFF; padding:0 10px;}
.prolist1 { position:relative; border-bottom:1px solid #e0e0e0;display: flex;flex-direction: row;flex-wrap: wrap;box-sizing: border-box; padding:10px 0; overflow:hidden;}
.prolist1 .prolist-img { float:left; width:30%;}
.prolist1 .prolist-right { min-height:5rem; float:left; width:65%;padding:0 0 0 5%;}
.prolist1 .prolist-right .prolist-title{font-size:0.7rem; height:2rem; line-height: 1rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.prolist1 .prolist-right .listprice{ padding:6px 0 0 0; overflow:hidden;}
.prolist1 .prolist-right .price-box{ padding:0 0 2px 0;font-size:0.7rem; overflow:hidden;}
.prolist1 .prolist-right .Mobiletxt{  float:left; padding:0 4px 0 0; color:#ff6b13; height:0.9rem; border:1px solid #ff9c62;}
.prolist1 .prolist-right .Mobiletxt span.Mobileico{ height:0.9rem; line-height:0.9rem; display:block;  float:left; background:#ff6b13; color:#FFF; font-size:0.7rem; margin:0 4px 0 0;}
.prolist1 .prolist-right .price-txt{ float:right; color:#636363; }
.prolist1 .prolist-right .shop-num{ padding:4px 0 0 0; line-height:1rem; overflow:hidden;}
.prolist1 .prolist-right .shop-num .e-price{ display:block; font-size:0.98rem; color:#ff6b13;}
.prolist1 .prolist-right .shop-num .or-price{ font-size:0.7rem; color:#a2a1a1;text-decoration: line-through; }
.prolist1 .prolist-right .shop-num a.cartbutton{ float:right;border-radius:4px; border:1px solid #ffaf7f; color:#ff6b13; line-height:1.6rem; padding:0 10px;font-size:0.8rem;}
.prolist1 .prolist-right .shop-num a.cartbutton:hover,.prolist1 .prolist-right .shop-num a.cartbutton:active{border:1px solid #dc5e12; background:#dc5e12; color:#FFF;}
/*个人中心*/
.mms-head{ position:relative;}
.mms-head-bg{ background:url(../images/mbg.jpg) no-repeat;background-size:100% auto; height:8rem;}
.mms-news{ position:absolute; right:15px; top:10px;}
.mms-news a span.newsico {color: #fff;display: block;  height: 30px; width:30px; background:url(../images/informationico2.png) no-repeat;background-size:100% 100%; margin:0 0 4px 0;}
.mms-news a span.newsico i{ background:#ff0000;border-radius:7px; position:absolute; top:0; right:-5px; display:block; width:7px; height:7px; }
.mms-news a { color:#FFF; font-size:0.7rem;}
.mms-head-bottom{ position:absolute; left:0; right:0; bottom:0.6rem; text-align:center;}
.mms-head-bottom dt{ width:70px; margin:auto;border-radius:70px;}
.mms-head-bottom dt img{border-radius:70px;}
.mms-head-bottom dd{ color:#FFF; font-size:0.86rem; padding:2px 0 0 0;}
.mms-head-bottom dd a{ font-size:0.68rem; color:#FFF;}
.mms-head-bottom dd a span{ padding:0 0 0 6px; font-size:0.6rem;}
.member-nav{ background:#FFF; padding:0 10px;}
.member-nav dl{ position:relative;font-size: 0.7rem; height:2.2rem; line-height:2.2rem; padding:0 0 0 1.8rem;}
.member-nav dl dt{ position:absolute; top:0.5rem; left:0; font-size:0.8rem; width:1.2rem; height:1.2rem; line-height:1.2rem; color:#FFF;border-radius:1.2rem; text-align:center;}
.member-nav dl dd{ border-bottom:1px solid #e0e0e0;}
.member-nav dl dd span{ float:right; color:#aeaeae; padding:0.7rem 0 0 0;}
.member-nav dl dd a{ display:block;}
