<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WaUI Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="A Vue UI Simply for Web App">
    <link rel="stylesheet" href="lib/weui/css/weui.css">
    <link rel="stylesheet" href="lib/jquery-ui/css/jquery-weui.css">
    <link rel="stylesheet" href="css/mobile.css"/>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .poster {
            text-align: center;
            padding: 3.5rem 0 1rem;
        }
        .weui-footer {
            padding: 1rem 0;
        }
    </style>
</head>
<body>
<div id="wa-home">
    <wa-img :src="logoSrc" :href="logoHref"></wa-img>

    <div v-for="category in pageSet" class="weui-panel">
        <div class="weui-panel__hd">{{ category.title }}</div>
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg">
                <div class="weui-cells">
                    <a v-for="page in category.pages" @click="go($key)" class="weui-cell weui-cell_access"
                       href="javascript:;">
                        <div class="weui-cell__bd weui-cell_primary">
                            <p v-cloak>{{ page.title}}</p>
                        </div>
                        <span class="weui-cell__ft" v-cloak>{{ page.titleEn }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="http://www.ffzxnet.com" class="weui-footer__link">非凡之星</a>
            <a href="https://github.com/itpretty/waui" class="weui-footer__link">GitHub WaUI</a>
        </p>
        <p class="weui-footer__text">Copyright © <span v-cloak>{{ copyRightYear }}</span> WaUI</p>
    </div>
</div>

<script src="js/jquery-2.1.4.js"></script>
<script src="js/fastclick.js"></script>
<script src="lib/jquery-ui/js/jquery-weui.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-validator.min.js"></script>
<script src="js/global.js"></script>
<script src="js/wa_Component.js"></script>
<script>
    var waHome = new Vue({
        el: '#wa-home',
        data: {
            logoSrc: 'doc/logo-waui.png',
            logoHref: 'https://github.com/itpretty/waui',
            copyRightYear: (new Date()).getFullYear(),
            pageSet: {
                beforeLogin: {
                    title: '注册登录页面 Sign in/up',
                    pages: {
                        login: {
                            title: '登录',
                            titleEn: 'Login'
                        },
                        register: {
                            title: '注册',
                            titleEn: 'Register'
                        },
                        registerContent: {
                            title: '注册详情',
                            titleEn: 'Registration Detail'
                        },
                    }
                },
                afterLogin: {
                    title: '登录后页面 Inner Pages',
                    pages: {
                        person_center_head: {
                            title: '个人中心头部',
                            titleEn: 'User Center Head'
                        },
                        person_center_nav: {
                            title: '个人中心导航',
                            titleEn: 'User Center Navigation'
                        }
                    }
                },
                misc: {
                    title: '单一功能页面 Misc Demos',
                    pages: {
                        searchBar: {
                            title: '搜索',
                            titleEn: 'Search'
                        },
                        footer_nav: {
                            title: '底部导航',
                            titleEn: 'Bottom Navigation'
                        },
                        tnTab: {
                            title: '切换',
                            titleEn: 'Tab'
                        },
                        img: {
                            title: '图片',
                            titleEn: 'Image'
                        },
                        scroll_loading: {
                            title: '滚动加载',
                            titleEn: 'Scroll Loading'
                        },
                        countdown: {
                            title: '倒计时',
                            titleEn: 'Countdown'
                        },
                        shopping_cart: {
                            title:'购物车',
                            titleEn:'Shopping Cart'
                        },
                        poster_rotation: {
                            title:'轮播',
                            titleEn:'Poster Rotation'
                        }
                    }
                }
            }
        },
        methods: {
            go: function (key) {
                location.href = 'page/wa_' + key + '.html';
            }
        }
    });
</script>
</body>
</html>