<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>滑动门</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="../lib/weui/css/weui.css">
    <link rel="stylesheet" href="../lib/jquery-ui/css/jquery-weui.css">
    <link rel="stylesheet" href="../css/mobile.css"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/comment.css">
</head>
<body>
<div class="weui_tab" id="wa-tab">
    <div class="weui_navbar result-sort">
        <ul class="tnTab">
            <li v-for="(index,item) in tabTitle" :class="{now: index==0}"><a href="#">{{item.text}}</a><i class="bar" v-if="index!=0"></i></li>
        </ul>
    </div>
    <div class="weui_tab_bd tnTabContent current">
        <div class="pro-list">
            <div class="prolist1" v-for="(index, item) in waProductListTabOne">
                <div class="prolist-img"><img :src=item.imgurl :href=item.goPage></div>
                <div class="prolist-right"> <a href="detail.html">
                    <div class="prolist-title">{{item.goodsdDescription}}</div>
                </a>
                    <div class="listprice">
                        <div class="price-box">
                            <div class="Mobiletxt"><span class="icon-ico14 Mobileico"></span>专享价</div>
                            <div class="price-txt">{{item.sold}}</div>
                        </div>
                        <div class="shop-num"><a href="#" class="cartbutton">加入购物车</a> <span class="e-price">{{item.platformPrice}}</span><span class="or-price">{{item.marketPrice}}</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-footer">
          <p class="weui-footer__text No_more">没有更多啦~</p>
        </div>
    </div>
    <div class="weui_tab_bd tnTabContent">
        <div class="pro-list">
            <div class="prolist1" v-for="(index, item) in waProductListTabTwo">
                <div class="prolist-img"><img :src=item.imgurl :href=item.goPage></div>
                <div class="prolist-right"> <a href="detail.html">
                    <div class="prolist-title">{{item.goodsdDescription}}</div>
                </a>
                    <div class="listprice">
                        <div class="price-box">
                            <div class="Mobiletxt"><span class="icon-ico14 Mobileico"></span>专享价</div>
                            <div class="price-txt">{{item.sold}}</div>
                        </div>
                        <div class="shop-num"><a href="#" class="cartbutton">加入购物车</a> <span class="e-price">{{item.platformPrice}}</span><span class="or-price">{{item.marketPrice}}</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-footer">
          <p class="weui-footer__text No_more">没有更多啦~</p>
        </div>
    </div>
    <div class="weui_tab_bd tnTabContent">
        <div class="pro-list">
            <div class="prolist1" v-for="(index, item) in waProductListTabThree">
                <div class="prolist-img"><img :src=item.imgurl :href=item.goPage></div>
                <div class="prolist-right"> <a href="detail.html">
                    <div class="prolist-title">{{item.goodsdDescription}}</div>
                </a>
                    <div class="listprice">
                        <div class="price-box">
                            <div class="Mobiletxt"><span class="icon-ico14 Mobileico"></span>专享价</div>
                            <div class="price-txt">{{item.sold}}</div>
                        </div>
                        <div class="shop-num"><a href="#" class="cartbutton">加入购物车</a> <span class="e-price">{{item.platformPrice}}</span><span class="or-price">{{item.marketPrice}}</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-footer">
          <p class="weui-footer__text No_more">没有更多啦~</p>
        </div>
    </div>
    <!--内容区-->
</div>

<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/fastclick.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vue-validator.min.js"></script>
<script src="../lib/jquery-ui/js/jquery-weui.js"></script>
<script src="../js/tnTab.js"></script>
<script src="../js/global.js"></script>
<script src="../js/wa_Component.js"></script>
<script>
    var waTab=new Vue({
        el: '#wa-tab',
        data:{
            imgurl:[],
            waProductListTabOne:[],
            waProductListTabTwo:[],
            waProductListTabThree:[],
            tabTitle:[
                {text:"按销量排序"},
                {text:"价格从高到低"},
                {text:"价格从低到高"}
            ]
        },
        created: function () {
            var self=this;
            $.ajax({
                type: 'GET',
                url: wa.path.root() + 'data/productList.json',//底部导航的数据文件地址
                dataType: 'json',
                success: function (requestdata) {
                    console.log(this.url)
                    self.waProductListTabOne= requestdata.waProductListFirst;
                    self.waProductListTabTwo= requestdata.waProductListSecond;
                    self.waProductListTabThree= requestdata.waProductListThree;
                },
                error: function (xhr, type) {
                    $.alert(this.url+'<br/>'+'Ajax error!')
                }
            })
        }
    })
</script>
</body>
</html>